<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unauthorized Access:: Python Flask Bucket List App</title>
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.2.js"></script>
  </head>
  
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/showSignin">Sign In</a></li>
            <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>
      
      <div class="jumbotron">
        <h1>{{error}}</h1>
      </div>
      
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
      
    </div>
  </body>
</html>